@import 'nav-iframe';
@import '@mdi/font/css/materialdesignicons.css';

$body-width: 700px;

::-webkit-scrollbar { 
  display: none; 
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  margin: 0;
}

body {
  font: 13px/1.5em 'Lucida Grande', Arial, sans-serif;
  padding: 0 10px;
  min-height: 600px;
  width: $body-width;
  margin: 0;
  display: flex;
  flex-direction: row;
}

section {
  margin: 0;
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
}

#oh-tckr-input {
  width: 6rem;
}